.clearboth {
    clear: both;
}

.low-top {
    margin-top: 100px;
}

.low-top .breakcumb {
    float: right;
}

.low-top .breakcumb ul li.active {
    border-right: 2px solid #cccccc;
}

.low-top .breakcumb ul li.active a {
    color: #1eb9ee;
    padding: 0 20px;
    text-decoration: underline;
}

.low-top .breakcumb ul li {
    display: inline-block;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.low-top .breakcumb ul li a {
    color: #333333;
    padding: 0 0 0 20px;
}

.low-top .breakcumb ul li:hover {
    opacity: 0.8;
}

.low-top .top-title p {
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: .2rem;
    margin-bottom: 8.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .low-top .top-title p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}

.low-top h2.title {
    font-size: 2.8rem;
    margin-top: 60px;
}

.low-top h2.title span {
    margin-bottom: 10px;
    display: block;
    font-size: 12rem;
    color: #1eb9ee;
    font-family: "Poppins", sans-serif;
}

.low-top figure {
    position: relative;
    z-index: -1;
    top: -8.5rem;
}

@media screen and (max-width: 768px) {
    .low-top h2.title {
        margin-top: 3rem;
    }

    .low-top figure {
        top: -4.5rem;
    }
}

.low-top figure img {
    width: 100%;
}


.guide-line-box dl {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-weight: 500;
}

.guide-line-box dl dt {
    max-width: 370px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .guide-line-box dl dt {
        max-width: 180px;
    }
}

.guide-line-box dl dd {
    letter-spacing: 0.2rem;
}

.guide-line-box dl dt br {
    display: none;
}



@media screen and (max-width: 768px) {
    .low-top h2.title {
        font-size: 1.6rem;
    }

    .low-top h2.title span {
        font-size: 5rem;
    }

    .guide-line-box dl dt {
        max-width: 100px;
        line-height: 1.5;
    }

    .guide-line-box dl dt br {
        display: block;
    }
}
