.guideeeee-line h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #1eb9ee;
  border-bottom: 2px solid #1eb9ee;
  line-height: 2.5; }

.guideeeee-line__tassble dl {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  .guideeeee-line__tassble dl dt {
    max-width: 250px;
    width: 100%; }

.guideeeee-line a {
  max-width: 300px;
  width: 100%;
  background-color: #1eb9ee;
  padding: 25px 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 40px auto 100px; }
  .guideeeee-line a:hover {
    opacity: 0.8; }
