@charset "UTF-8";
@import "functions.scss";

.guide-line{
	margin-top: 85px;
	h2{
		font-weight: bold;
		font-size: 2rem;
		color: #1eb9ee;
		border-bottom: 2px solid #1eb9ee;
		line-height: 2.5; 
	}
	a{
		max-width: 300px;
		width: 100%;
		background-color: #1eb9ee;
		padding: 25px 0;
		text-align: center;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		display: block;
		margin: 40px auto 100px;
		&:hover{
			opacity: 0.8;
		}
	}
	@include tablet{
		margin-top: 30px;
	}
	@include mobile{
		margin-top: 15px;
	}
}