#interviewPage img,
#interviewEntry img {
  display: block;
  max-width: 100%;
}

#interviewPage button,
#interviewEntry button {
  outline: none;
}

#interviewPage .targetLink,
#interviewEntry .targetLink {
  position: relative;
  z-index: 0;
}
#interviewPage .targetLink .goLink,
#interviewEntry .targetLink .goLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#interviewPage .ele-hover,
#interviewEntry .ele-hover {
  opacity: 1;
  transition: all 0.3s ease;
}
#interviewPage .ele-hover:hover,
#interviewEntry .ele-hover:hover {
  opacity: 0.8;
}

#interviewPage .style-h3,
#interviewEntry .style-h3 {
  color: #1eb9ee;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  #interviewPage .style-h3,
  #interviewEntry .style-h3 {
    font-size: 1.8rem;
  }
}

#interviewPage .font36b,
#interviewEntry .font36b {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
@media screen and (max-width: 768px) {
  #interviewPage .font36b,
  #interviewEntry .font36b {
    font-size: 2.4rem;
  }
}

#interviewPage .font28b,
#interviewEntry .font28b {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  #interviewPage .font28b,
  #interviewEntry .font28b {
    font-size: 2rem;
  }
}

#interviewPage .fontW,
#interviewEntry .fontW {
  font-weight: bold;
}

#interviewPage .w-h-100,
#interviewEntry .w-h-100 {
  width: 100%;
  height: 100%;
}

#interviewPage .w-100,
#interviewEntry .w-100 {
  width: 100%;
}

#interviewPage .h-100,
#interviewEntry .h-100 {
  height: 100%;
}

#interviewPage .w-100v,
#interviewEntry .w-100v {
  width: 100vw;
}

#interviewPage .h-100v,
#interviewEntry .h-100v {
  height: 100vh;
}

#interviewPage .wmax,
#interviewEntry .wmax {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #interviewEntry .breakcumb ul {
    display: flex;
  }
  #interviewEntry .breakcumb li {
    display: block;
    white-space: nowrap;
  }
  #interviewEntry > .container {
    max-width: 600px;
  }
}

#interviewEntry .low-top {
  margin: 25px auto 95px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .low-top {
    margin: 20px auto 40px;
  }
}

#interviewEntry .banner-top {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .banner-top {
    padding-top: 60px;
  }
}
#interviewEntry .banner-top figure {
  position: relative;
  padding-bottom: 37.5%;
  background-image: url("../images/interviewEntry/img_banner1_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #interviewEntry .banner-top figure {
    min-height: 300px;
    padding: 0px;
    background-position: 80% 80%;
    height: 45vw;
  }
}

#interviewEntry .text-inner {
  position: absolute;
  max-width: 1120px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media screen and (max-width: 768px) {
  #interviewEntry .text-inner {
    max-width: 600px;
    max-height: 50%;
    height: 22vw;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0px;
    top: auto;
    transform: translateX(-50%);
    padding-left: 20px;
  }
}
#interviewEntry .text-inner .text-above {
  margin-bottom: 5px;
}
#interviewEntry .text-inner .text-middle .name-nihongo {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .text-inner .text-middle {
    line-height: 1;
    margin-bottom: 2px;
  }
}
#interviewEntry .text-inner .text-middle span {
  display: inline-block;
}

#interviewEntry .shigoto-h3 {
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .shigoto-h3 {
    margin-bottom: 15px;
  }
}

#interviewEntry .shigoto-p {
  text-align: center;
  max-width: 990px;
  margin: 0px auto 110px;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  #interviewEntry .shigoto-p {
    margin-bottom: 50px;
  }
}

#interviewEntry .board-grey {
  background-color: #efefef;
  padding: 80px 0px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .board-grey {
    padding: 40px 0px;
  }
}
#interviewEntry .board-grey .container {
  max-width: 1480px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .board-grey .container {
    max-width: 600px;
  }
}

#interviewEntry .wrap-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#interviewEntry .wrap-content figure {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-content {
    flex-direction: column;
  }
  #interviewEntry .wrap-content figure {
    margin-bottom: 15px;
  }
}
#interviewEntry .wrap-content > * {
  max-width: 680px;
  margin: 0px auto;
  width: calc(50% - 20px);
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-content > * {
    width: 100%;
  }
}
#interviewEntry .wrap-content dt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 570px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-content dt {
    margin-bottom: 15px;
  }
}
#interviewEntry .wrap-content dt h3 {
  line-height: 1.4;
}
#interviewEntry .wrap-content dt img {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-content dt img {
    max-width: 50px;
  }
}
#interviewEntry .wrap-content dd {
  max-width: 600px;
  letter-spacing: 0.1rem;
}
#interviewEntry .wrap-content:last-of-type {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-content:last-of-type {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
}
#interviewEntry .wrap-content:last-of-type dl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#interviewEntry .wrap-content:last-of-type dt {
  width: 100%;
}
#interviewEntry .wrap-content:last-of-type dt,
#interviewEntry .wrap-content:last-of-type dd {
  max-width: 620px;
}
#interviewEntry .wrap-content:last-of-type .text-color {
  color: #ff0000;
}

#interviewEntry .h3-end {
  text-align: center;
  margin: 80px auto 40px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .h3-end {
    margin: 50px auto 30px;
  }
}

#interviewEntry .wrap-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-link {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
#interviewEntry .wrap-link > * {
  width: calc(50% - 10px);
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-link > * {
    width: 100%;
  }
}
#interviewEntry .wrap-link figure {
  display: flex;
  background-color: #efefef;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
#interviewEntry .wrap-link figure img {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  #interviewEntry .wrap-link figure img {
    max-width: 160px;
    width: 35vw;
  }
}
#interviewEntry .wrap-link figure .person-infor {
  max-width: 350px;
  width: 100%;
  padding-right: 10px;
}
#interviewEntry .wrap-link figure .person-infor .nihongo {
  margin-right: 10px;
}
#interviewEntry .wrap-link figure .person-infor .eigo {
  font-weight: bold;
  color: #999999;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
#interviewEntry .wrap-link figure .person-infor .text-under {
  color: #1eb9ee;
  font-weight: bold;
  margin-top: 8px;
  line-height: 1.4;
}
#interviewEntry .wrap-link figure::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1eb9ee;
  z-index: 2;
  opacity: 0;
}
#interviewEntry .wrap-link figure.active::after {
  opacity: 0.4;
}
